<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caocao.shardingjdbc.console.dal.dao.ShMetadataMapper">
  <resultMap id="BaseResultMap" type="com.caocao.shardingjdbc.console.dal.model.ShMetadata">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="data_source_name" jdbcType="VARCHAR" property="dataSourceName" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="properties" jdbcType="LONGVARCHAR" property="properties" />
  </resultMap>
  <select id="totalCount" resultType="int">
    SELECT
        COUNT(1)
    FROM
        sh_metadata
    WHERE 1=1
    <if test=" type !=null and type != ''">
      AND type = #{type}
    </if>
    <if test=" keywords !=null and keywords != ''">
      AND (
          data_source_name LIKE  concat('%',#{keywords}, '%')
      OR
          create_by LIKE  concat('%',#{keywords}, '%')
      OR
          update_by LIKE  concat('%',#{keywords}, '%')
      )
    </if>
  </select>

  <select id="queryDataSourceList" resultMap="BaseResultMap">
    SELECT
      *
    FROM
      sh_metadata
    WHERE 1=1
    <if test=" type !=null and type !='' ">
      AND type = #{type}
    </if>
    <if test=" keywords !=null and keywords != ''">
      AND (
      data_source_name LIKE  concat('%',#{keywords}, '%')
      OR
      create_by LIKE  concat('%',#{keywords}, '%')
      OR
      update_by LIKE  concat('%',#{keywords}, '%')
      )
    </if>
    ORDER BY create_time DESC LIMIT #{begin},#{end}
  </select>

  <select id="queryInfoById" resultMap="BaseResultMap">
     SELECT
      *
    FROM
      sh_metadata
    WHERE id=#{id}
  </select>

    <select id="queryDataSourceCount" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        sh_metadata
        WHERE type = 1
    </select>

  <delete id="deleteInfo">
        delete from sh_metadata where id = #{id}
  </delete>

  <insert id="insertInfo" keyProperty="id" parameterType="com.caocao.shardingjdbc.console.dto.ShMetadataDto"
          useGeneratedKeys="true">
    insert into sh_metadata (id, type, properties,data_source_name,create_by,update_by)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, #{properties,jdbcType=LONGVARCHAR}, #{dataSourceName,jdbcType=LONGVARCHAR}, #{createBy,jdbcType=LONGVARCHAR}, #{updateBy,jdbcType=LONGVARCHAR})
  </insert>

  <update id="updateInfo" parameterType="com.caocao.shardingjdbc.console.dto.ShMetadataDto">
        update sh_metadata
        set type = #{type,jdbcType=TINYINT},
        properties = #{properties,jdbcType=VARCHAR},
        data_source_name = #{dataSourceName,jdbcType=VARCHAR},
        create_by = #{createBy,jdbcType=VARCHAR},
        update_by = #{updateBy,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="queryMasterPropertiesById" resultType="String">
         SELECT
          properties
         FROM
        sh_metadata
        WHERE id = #{id}
    </select>

    <select id="queryNameById" resultType="Integer">
        SELECT
          id
         FROM
        sh_metadata
        WHERE data_source_name = #{dataSourceName}
    </select>
</mapper>